/* General features */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

/* Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-studio-header {
  color: #2e2f42;
}

.header-navigation-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-navigation-item-studio {
  display: flex;
}

.header-navigation-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation-link.current {
  position: relative;
  color: #404bbf;
}

.header-navigation-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  display: block;
  padding-bottom: 0;
}

.header-navigation-link:hover,
.header-navigation-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-address-item {
}

.header-address-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

/* Sections common features */

.section-common-features {
  margin: 0;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.section-list {
}

.section-list-item {
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-text {
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* HOVER section one*/

.section-one-background {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  margin: auto;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  /* line-height: 60px; */
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin-top: 188;
  margin-bottom: 48;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main-btn {
  display: block;
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  background-color: #404bbf;
}

/* Description of advantages section two*/

.section-two-background {
  padding: 120px 0;
}
.section-two-title {
  color: #2e2f42;
}

.section-two-list {
  margin: o auto;
  display: flex;
  gap: 24px;
}

.section-two-list-item {
  flex-basis: calc((100%-72px) / 4);
}

.section-two-icons {
  display: flex;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 100%;
  height: 112px;
  background: #f4f4fd;

  margin-bottom: 8px;
  align-items: center;
}

.iconadvantages {
}

.section-two-subtitle {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-two-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Our Team section three*/

.section-three-background {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-three-title {
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-three-list {
  display: flex;
  gap: 24px;
}

.section-three-list-item {
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.section-three-list-item-card {
  padding: 32px 0;
}

.section-three-subtitle {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.section-three-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.smm-icons-list {
  display: flex;
  gap: 24px;
  height: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0;
}

.smm-icons-list-item {
  width: 40px;
  height: 40px;
}

.smm-icons-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.smm-icons-list-link:hover,
.smm-icons-list-link:focus {
  background-color: #404bbf;
}

.iconssmm {
  fill: #f4f4fd;
}

/* Our Portfolio section four*/

.section-four-background {
  padding: 120px 0;
}

.section-four-title {
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-four-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.section-four-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.section-four-list-item:hover .hiding-text {
  transform: translateY(0);
}

.block-img-hiding-text {
  position: relative;
  overflow: hidden;
}

.hiding-text {
  position: absolute;
  top: 0;
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-four-list-item-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-four-subtitle {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-four-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */

.footer-common {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
}
.logo-block {
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.logo-studio-footer {
  color: #f4f4fd;
}

.footer-text {
  display: block;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.smm-block {
  display: inline-block;
}
.footer-h-smm {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-smm-list {
  display: flex;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  max-width: 208px;
  height: 40px;
}
.footer-smm-item {
}

.footericonsmm {
  fill: #f4f4fd;
}

.footer-smm-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-smm-link:hover,
.footer-smm-link:focus {
  background-color: #31d0aa;
}
